<div class="global">

  <div class="cont">

    <div class="cont-painel">

      <div class="voltar" (click)=" telaAnterior()">
        <a><< Voltar para a página anterior </a>
      </div>
      <div class="title-gerenciar">
        <h2>SITUAÇÃO ADVERSA</h2>
        <H3>PACIENTE: {{pacienteSelecionado?.nome}} - {{pacienteSelecionado?.cpf}}</H3>
      </div>
      <div class="mensagem-erro">
        <span>{{mensage}}</span>
      </div>
      <div class="formulario-gerenciar">

        <form action="post">

          <input class="data" type="date" placeholder="Data" [(ngModel)]="data" name="data">

          <input class="responsavel" type="text" placeholder="Responsavel" [(ngModel)]="responsavel" name="responsavel">

          <input class="situacaoAdversa" type="text" placeholder="Descreva a situação adversa." [(ngModel)]="situacaoAdversa"
            name="situacaoAdversa">


          <div class="botoes">
            <button (click)="telaAnterior()" type="button">Cancelar</button>
            <button (click)="salvar()" type="button">Salvar</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
<router-outlet></router-outlet>
