.email-cpf ,
.profissional-atuacao,
.senha-status{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.email-cpf .email,
.email-cpf .cpf {
  width: 45%;
}

.profissional-atuacao .profissional{
  width: 13%;
}

.profissional-atuacao .codigo{
  width: 45%;
}
.profissional-atuacao .uf{
  width: 5%;
}

.senha-status .senha{
    width: 50%;
}
