<div class="global-outras-opcoes"> <!-- Global  -->

  <div class="container">
    <div class="container-opcoes"><!-- Container  -->


      <div routerLink="/gerenciar-usuario">
        <img src="icones/add-usuario.png" alt="Adicionar usuario">
        <span>Adicionar Usuário</span>
      </div>

      <div routerLink="/hospitais">
        <img src="icones/lista-hospitais.png" alt="Lista de Hospitais">
        <span>Gerenciar Hospitais</span>
      </div>

      <div routerLink="/lista-logs">
        <img src="icones/lista-logs.png" alt="Logs">
        <span>Logs</span>
      </div>

    </div>
  </div>
</div>

<router-outlet></router-outlet>
