<div class="global"> <!-- Global  -->

  <div class="cont"><!-- Container  -->

    <div class="cont-painel">


    <div class="container-pesquisa"><!-- Pesquisa de usuario  -->

      <div class="campo-pesquisa" >
        <form action="Post">
          <input type="text" placeholder="Insira o nome do profissional." [(ngModel)]="nome" name="nome"
            (input)="pesquisar(nome)">
        </form>
      </div>

      <span class="campo-pesquisa" *ngIf="buscou === true && newProfissionalPesquisa.length === 0 && this.nome !== '' ">Nenhum profissional foi
        encontrado.</span>
    </div>
    <div class="cont-tabela"> <!-- Lista dos usuarios - Tabela  -->

      <table>
        <thead>
          <tr>
            <th>CPF</th>
            <th>Profissional</th>
            <th>Atuação</th>
          </tr>
        </thead>

        <tbody>
          <tr (click)="irParaUsuario(profissionais.id)" *ngFor="let profissionais of (newProfissionalPesquisa.length > 0 ? newProfissionalPesquisa : newProfissional)">
            <td>{{profissionais.cpf}}</td>
            <td>{{profissionais.nome}}</td>
            <td>{{profissionais.atuacao}}</td>
          </tr>


        </tbody>
      </table>

    </div>

  </div>
</div>
</div>
